.input {
  width: 100%;
  padding: 3px 3px;
}

.label {
  font-weight: bold;
  margin-top: 8px;
  margin-left: 8px;
}

.txid {
  word-wrap: break-word;
}

.spaceDown {
  margin-top: 20px;
}

.center {
  margin-top: 10px;
  text-align: center;
}

.error {
  color: red;
}
