.disabledButton {
  pointer-events: none;
}

.inline {
  display: inline-block;
}

.holder {
  display: inline-block;
  overflow: auto;
  margin: 5px;
  z-index:5;
}

.background {
  border: 1px dashed #e2e2e2;
  display: inline-block;
  padding: 4px 5px 0 5px;
  background-color: #f7f7f7;
  margin: 5px;
}

.button {
  margin: 5px 5px 5px 0;
  font-family: 'Roboto Mono', monospace;
  min-width: 60px;
  position: relative;
  padding: 7px;
  font-size: 14px;
  background-color: white;
  border: 1px solid #182236;
  color: #182236;
  box-shadow: 3px 3px 2px #e0e0e0;
  cursor: pointer;
}
.button:hover {
  background-color: #e5e5e5;
}
.button:active {
  background-color: black;
  color: white;
  top: 1px;
  left: 1px;
  box-shadow: none;
}
.button:focus {
  outline: 0;
}
.button:disabled {
  border-color: #e5e5e5;
}
.button:disabled:hover{
  background-color: inherit;
}
