table {
  width: 100%;
}

thead {
  font-weight:bold;
}

input {
  font-family: 'Roboto Mono', monospace;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-style: inset;
  border-width: 2px;
}
