.offersTable {
  border-collapse: collapse;
}

.offersTable tr td {
  padding: 0 5px;
}

.offersTable tbody tr:nth-child(odd) {
  background-color: #f7f7f7;
}

.offerAmount {
  font-size: 25px;
}

@media screen and (max-width: 700px) {
  .offerAmount {
    font-size: 15px;
  }
}
