@media screen and (max-width: 1024px) {
  .content {
    padding: 0 16px;
  }
}

.tip {
  position: relative;
  z-index:5;
}

.title {
  display: inline-block;
}

.refresh {
  cursor: pointer;
  display: inline-block;
}

.refreshImg {
  cursor: pointer;
  margin-left: 10px;
  width: 20px;
  position: relative;
  top: -2px;
}

.dummyRegister {
  background-color: #ffe1a5;
  margin: 15px;
  padding: 15px;
  font-weight: bold;
}

.listBg {
  background-color: #f7f7f7;
  padding: 10px;
  border: 1px solid white;
}

.listingHeader {
  font-weight: bold;
  margin-top: 5px;
}

.spaceDown {
  padding-top: 20px;
}
