.smallAddress {
  display: none;
}
.largeAddress {
  display: inherit;
}

@media screen and (max-width: 1024px) {
  .smallAddress {
    display: inherit;
  }
  .largeAddress {
    display: none;
  }
}
