@media screen and (max-width: 1024px) {
  .content {
    padding: 0 16px;
  }
}

.refresh {
  cursor: pointer;
  display: inline-block;
}

.refreshImg {
  cursor: pointer;
  margin-left: 10px;
  width: 20px;
  position: relative;
  top: -2px;
}
