.row {
  padding: 40px;
}

.title {
  color: #000;
  text-decoration: none;
  font-size: 20px;
}

.subTitle {
  padding-top:3px;
  font-size: 12px;
}

.header {
  background-color:#f7f7f7;
  border-bottom: 3px dashed black;
}

.logo {
  width: 25px;
  margin-right: 10px;
}



@media screen and (max-width: 1024px) {
  .header {
    display: flex;
  }

  .row {
    padding: 0 16px;
  }
}
