 body {
   font-family: 'Roboto Mono', monospace;
 }

.content {
  font-family: 'Roboto Mono', monospace;
  margin: 20px auto;
  max-width: 1000px;
  width: 100%;
}

.alpha {
  background-color: #910000;
  color: white;
  text-align: center;
  padding: 10px;
  max-width: 1200px;
  margin: 10px auto;
}
